@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Titillium+Web&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

html, body{
    margin: 0;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./images/bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


p{
    font-size: 10px;
    color: #fff;
    line-height: 15px;
}
.Descriptions{
    font-size: 16px; 
    display: inline-block;
 }
.container{
    width: 100%;
    padding-right: 8%;
    padding-left: 8%;
    padding-top: 2%;
}

.navbar{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
.navbar ul li a{
    color: #fff;
    text-decoration: none;
    transition: ease 0.5s;
}
.navbar ul li a:hover{
    color: #000;
}
.navButtons ul{
    list-style-type: none;
    display: flex;
    font-size: 30px;
    column-gap: 15px;
    justify-items: start;
}
.main{
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
   align-items: center;
   height: 100%;
   column-gap: 10px;

}
.col1{
flex-basis: 40px;
}

.col2{
    flex-basis: 650px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 5%;
    padding: 30px;
}


.card{
    
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid red;
    transition: ease 0.5s;
    padding: 10px;

}
.card:hover{
    border-color: #fff;
    filter: grayscale(70%);
    transform: scale(1.1);
}




.cards .card1{
    background-image: url(./images/pic-1.png);
}
.cards .card2{
    background-image: url(./images/pic-2.png);
}
.cards .card3{
    background-image: url(./images/pic-3.png);
}
.cards .card4{
    background-image: url(./images/pic-4.png);
}
h1{
    color: #fff;
    font-size: 100px;
}
.btn a{
    text-decoration: none;
    padding: 20px 20px;
    font-size: 12px;    
}
.btn a:hover{
    color: #fff;
}
.btn{
    cursor: pointer;
    margin-top: 30px;
    border-radius: 20px;
    border: 1px solid red;

}
.btn:hover{
    transition: ease 0.7s;
    background-color: #000;
}